.breadcrumbs-component {

  .content ul {
    margin-left: 0;
  }
  
  .breadcrumb ul {
    display: flex;
    align-items: center;
  }
  
  .breadcrumb li:first-child a {
    padding-left: 0.75em;
  }
  
  .breadcrumb li + li::before {
    margin-left: 20px;
  }
  
  .breadcrumb li.is-active a {
    padding-right: 0;
    color: unset !important;
    text-decoration: none;
  }

}