<div id="connection-issue-notice">
    <p class="content has-text-centered">Sorry, there seems to be an issue with the connection to the server/internet.<br />Try refreshing the page or come back later.</p>
</div>