<header class="documentation-navigation">

    <div class="navbar" role="navigation" aria-label="navigation" id="documentation-navigation-wrapper">

        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="documentation-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
	    
        <nav id="documentation-navbar" class="navbar-menu">
            {% include './layouts/navigation-navbar-start.liquid' nav_data_file: nav-docs %}
        </nav>

    </div>
  
</header>