<div id="screen-size-indicator" class="editor-content">
    <span class="indicator-small">SMALL</span>
    <span class="indicator-medium">MEDIUM</span>
    <span class="indicator-large">LARGE</span>
</div>