---
layout: base.liquid
---

{%- assign page_array = collections.all %}
{%- for item in page_array %}
    {%- if item.data._schema == "blog" %}
        {%- assign blog_page = item %}
    {%- endif %}
{%- endfor %}
{%- assign show_layout_selector = blog_page.data.show_layout_selector %}
{%- assign show_tags = blog_page.data.show_tags %}
{%- assign component_palette = blog_page.data.component_palette %}

{%- bookshop "basic/header" title: "News" title_size: "h1" full_container_width: "false" content_alignment: "centered" component_palette: component_palette content_padding_top: 5 content_padding_bottom: 0 %}

<section class="section blog-summary vb-theme-{{ component_palette }} pt-0">
    
    <div class="container">
              
        <div class="columns pb-4">
                
            <div class="column is-8-desktop is-offset-2 use-gsap">
                                
                <div class="content gsap-element-wrapper print-full-width" data-gsap-animation-name="slide-down-from-top">
          
                    <div class="blog-tags has-text-centered">
                        {%- if show_layout_selector == true %}
                            <div>
                                <span style="inline-block" id="show-cards">
                                    {%- bookshop_include "icons" icon_name: "Table" %}
                                </span>
                                <span style="inline-block" id="hide-cards">
                                    {%- bookshop_include "icons" icon_name: "List" %}
                                </span>
                            </div>
                        {%- endif %}
                        {%- if show_tags == true %}
                            <a href="/blog/" class="button single-line {% if page.url == '/blog/' %} selected{% endif %}">ALL</a>
                            {% assign sorted_tags = blog-tags | sort: "title" %}
                            {%- for tag in sorted_tags %}
                                {% assign tag_slug = tag.title | slugify %}
                                <a href="/tags/{{ tag_slug }}/" class="button single-line {% if page.url contains tag_slug %} selected{% endif %}">{{ tag.title }}</a>
                            {%- endfor %}
                        {%- endif %}
                    </div>
                        
                </div>
                    
            </div> 
                          
        </div>

        {% assign reversed_collection = collections[tag] | reverse %}

        {% if reversed_collection size >0 %}
        
            <!-- NOTE: Need the overflow hidden to catch any overflow between the longest of the 'blog-display-flat' and the 'blog-display-grid'
            The relative positioning helps keep jumps from happening when changing between the two views. -->
            <div style="overflow: hidden; position: relative;">
            
                <div id="blog-display-flat" {% if show_layout_selector == true %}class="initial"{% endif %}>
                    
                    {% for blog in reversed_collection %}
                        
                        {% include "./layouts/blog-post-summary" blog: blog %}
                            
                    {% endfor %}
                    
                </div>
                
                <div id="blog-display-grid">
                
                    <div class="masonry-container">
                    
                        {% for blog in reversed_collection %}

                            {% include "./layouts/blog-post-summary-masonry" blog: blog %}
                            
                        {% endfor %}
                        
                    </div>
                
                </div>
            
            </div>

        {% else %}
            <h2>No posts found for this tag.</h2>
        {% endif %}
         
    </div>
                      
</section>