.cms-editor-active .slider-component .slider-slide {
  opacity: 1;
}

.cms-editor-active .slider-component .content * {
  opacity: 1 !important;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


.slider-component {
  
  position: relative;
  /* Let the section provide the padding to keep consitent with other components. Will
  probably need to change if start applying background colour to individual slides */
  .slider-outer {
    position: relative;
    height: 100%;
  }
  
  .slider-middle {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 100%;
  }
  
  .slider-inner {
    display: flex;
    position: relative;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .slider-inner.slider-slide-on {
    -webkit-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out;
  }
  
  .slider-slide {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  
  .slider-slide img {
    max-width: 100%;
    width: 500px;
  }
  
  .slider-slide .container,
  .slider-slide .columns,
  .slider-slide .column,
  .slider-slide .content {
    height: 100%;
  }
  .slider-slide .columns {
    margin-top: 0;
  }
  .slider-slide .column {
    padding-top: 0;
    padding-bottom: 0;
  }
  .slider-slide .content{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
  }
  
  .slider-slide .content.top-left {
    justify-content: start;
  }
  
  .slider-slide .content.center-left {
    justify-content: center;
  }
  
  .slider-slide .content.bottom-left {
    justify-content: end;
  }
  
  .slider-slide .content.top-right {
    justify-content: start;
    text-align: right;
  }
  
  .slider-slide .content.center-right {
    justify-content: center;
    text-align: right;
  }
  
  .slider-slide .content.bottom-right {
    justify-content: end;
    text-align: right;
  }
  
  .slider-slide .content.top-center {
    justify-content: start;
    text-align: center;
  }
  
  .slider-slide .content.center-center {
    justify-content: center;
    text-align: center;
  }
  
  .slider-slide .content.bottom-center {
    justify-content: end;
    text-align: center;
  }
  
  .slider-nav-container {
    width: 100%;
    max-width: 70%;
    text-align: center;
    margin: 10px auto 0 auto;
    padding: 20px;
  }
  
  .slider-prev,
  .slider-next {
    cursor: pointer;
    position: absolute;
    bottom: 4px;
    width: auto;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s background-color ease;
    border-radius: 3px;
    user-select: none;
    background-color: rgba(0,0,0,0.2);
  }
  
  .slider-prev {
    left: 20px;
  }
  
  .slider-next {
    right: 20px;
  }
  
  .slider-prev:hover,
  .slider-next:hover {
    background-color: rgba(0,0,0,0.6);
    color: #fff;
  }
  
  .slider-nav-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .slider-active, .slider-nav-dot:hover {
    background-color: #717171;
  }
  
  
  /* --- SLIDE FADE IN --- */
  
  .slider-fade-in {
    animation-name: slider-fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
  }
  
   @keyframes slider-fade-in {
    from {opacity: 0}
    to {opacity: 1}
  }
  
  /* if SLIDING option is on, then can keep all individual slides visible --- */
  .slider-slide-on .slider-slide {
    opacity: 1;
  }
  
  .slider-slide-on .slider-slide.slider-fade-in {
    animation: none;
    opacity: 1;
  }

  @media screen and (max-width: 1023px) {
    .slider-prev.page-indicator-hidden,
    .slider-next.page-indicator-hidden {
      bottom: -30px;
    }
  }

  @media screen and (min-width: 1024px) {
    .slider-prev,
    .slider-next {
      top: 50%;
      bottom: auto;
    }
  }
  
}