.header-component {
  
    h1 {
        padding: 0 !important;
        margin: 0 !important;
    }
    /* Get the next direct sibling paragraph */
    h1 + p {
        margin-top: 2rem !important;
    }
}