@use "site/css/variables" as va;

.sub-navigation-menu-component {

    display: flex;
    flex-direction: column;

    .container {
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
    }
    ul {
        list-style: none;
        padding: 0;
        max-width: 500px;
        margin: 0 auto;
    }
    li a {
        display: block;
        text-decoration: none !important;
        font-size: 1.2rem;
        padding: 0.45rem 0.25rem;
        border-left: solid 5px;
        border-left-color: transparent;
        transition-property: border-left-color;
        transition-duration:  0.3s;
        transition-delay: 0s;
    }
    li a:hover {
        border-left-color: va.$navbar-active-link-background-color;
    }
    
}