@use "../../../site/vendor/bulma/sass/utilities/mixins";
@use "../../../site/css/variables" as va;

/* Responsive base sizes: https://stackoverflow.com/questions/52605748/how-to-set-base-font-sizes-in-bulma-css-for-responsive-design.
This overrides the $body-size variable, but it's only used to set html {font-size} so this should not cause any problems. */
html {
  font-size: 16px;
  @include mixins.tablet {
    font-size: 16px;
  }
  @include mixins.desktop {
    font-size: 17px;
  }
  
  font-weight: 400;
}

/* NOTE: 'font-family' for body is set by Bulma variable $font-primary. */
.content {

  /* Bulma defaults for font sizes. Scales based on the responsive base sizes set above:
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.25em;
  }
  h5 {
    font-size: 1.125em;
  }
  h6 {
    font-size: 1em;
  }
  */

  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1.25em;
  }
  h6 {
    font-size: 1.125em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: va.$family-secondary;
    font-weight: 300;
    line-height: 1.3;
  }


  h1 {
    padding-bottom: 1rem;
  }

  ul {
    margin-bottom: 1em;
  }

  pre {
    /* border: solid 1px #ddd; */
  }
  
  ul.is-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* Override Bulma */
  .breadcrumb li + li { 
    margin-top: 0;
  }
  /* Override Bulma */
  p:last-child {
    margin-bottom: 1em;
  }

  p.lead {
    font-size: 115%;
  }
  
  p a:not(button):not(.button),
  li a:not(button):not(.button) {
    text-decoration: underline;
  }

  /* The ProseMirror Richtext Editor in the CloudCannon admin doesn't wrap images atgs in paragraph tags. To keep the spacing below an image
   use the Adjacent Selector - specified by a plus sign (+) in CSS and is a selector that helps in selecting an element that is
   immediately followed by another element where both elements have the same parent element. */
  img + p,
  img + h1,
  img + h2,
  img + h3,
  img + h4,
  img + h5,
  img + h6,
  img + ul,
  img + blockquote,
  img + img {
    margin-top: var(--bulma-content-block-margin-bottom);
  }

  a.button,
  button.button,
  .button {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border: 0 !important;
    font-weight: 600;
  }
  a.button:not(.is-outlined),
  button.button:not(.is-outlined),
  a.button:not(.single-line),
  button.button:not(.single-line) {
    border: 0;
  }
  a.button.is-outlined,
  button.button.is-outlined,
  a.button.single-line,
  button.button.single-line {
    background: transparent;
  }
  a.button:hover {
    opacity: 0.85;
  }
  a.button:not(.is-outlined),
  button.button:not(.is-outlined),
  a.button:not(.single-line),
  button.button:not(.single-line) {
    padding-left: calc(var(--bulma-button-padding-horizontal) * 1.5);
    padding-right: calc(var(--bulma-button-padding-horizontal) * 1.5);
  }
  
  /* https://fontawesome.com/how-to-use/on-the-web/advanced/css-pseudo-elements
  Second selector covers the times CC has added an ID query string to the end. * is 'contains'. */
  a[href$=".pdf"]::before,
  a[href*=".pdf?_cchid"]::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      content: "\f1c1 \00a0"; /* UTF-8 character codes - FA symbol for PDF and the a 'space' */
  }
  
  a[href$=".docx"]::before,
  a[href*=".docx?_cchid"]::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      content: "\f1c2 \00a0";
  }
  
  a[href$=".xlsx"]::before,
  a[href*=".xlsx?_cchid"]::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      content: "\f1c3 \00a0";
  }
  
  /* --- TABLES --- */
  
  table th,
  table td {
    padding: 1.4rem .7rem;
  }
  table th p,
  table td p {
    margin-bottom: 0 !important;
  }
  
}

/* -------------- */
/*    FOOTER      */
/* -------------- */

.footer {
  
  .content p a:not(.button),
  .content li a:not(.button){
    text-decoration: none;
    border: 0;
  }
 
}